{% extends "base.html" %}

<!-- To highlight the nav menu -->
{% block nav_flask%}
    class="active"
{% endblock %}

{% block content %}
    <!-- Page content-->
    <div class="container mt-3 ml-2">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Flask : Web Framework</h1>
                        <!-- Post meta content
                        <div class="text-muted fst-italic mb-2">Posted on January 1, 2021 by Start Bootstrap</div>

                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                                              src="{{ url_for('static', filename='images/flaskapp.dms') }}"
                                              style="width:900px;height:400px" alt="..."/>
                    </figure>

                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4"><b>Flask</b> is a compact and lightweight Python web framework that
                            provides essential tools and capabilities for building online applications in Python.
                            Because we can construct a web application rapidly using only a single Python file, it
                            allows developers greater flexibility and is a more accessible framework for beginning
                            developers. Flask is also extendable, and it doesn't require complex boilerplate code or a
                            certain directory structure to get started. </p></p>


                        <h3 class="fw-bolder mb-4 mt-5">What is Pytest and how do I use it? </h3>
                        <p class="fs-5 mb-4">Pytest is a Python testing framework that aims to help developers create
                            better systems and confidently release them. Pytest makes writing small and scalable tests a
                            breeze. The following code sample illustrates the fundamental structure of a Pytest
                            test: </p>
                        <ol class="fs-5 mb-2">
                        <pre class="highlight">
                            <code>
                                <span class="k" data-original-title="" title="">def</span><span class="s"> test_request_about(client):</span>
                                    <span class="c"> """This makes the index page"""</span>
                                    response = client.get("/about")
                                    <span class="k" data-original-title="" title="">assert</span> response.status_code == 200
                                    <span class="k" data-original-title="" title="">assert</span> b"About Page" <span
                                    class="k">in</span> response.data

                            </code></pre>
                        </ol>

                        <p class="fs-5 mb-4">
                            This test snippet is used to make sure that the about page is reachable with '/about'
                            endpoint. We are doing this by asserting that the status code from response page received by
                            the client() is indeed 200.
                            We need to make sure that the test passes and to do this, we will first need to know how to
                            run tests in Pytest.</p>

                        <h3 class="fw-bolder mb-4 mt-5">Running tests with Pytest</h3>

                        <p class="fs-5 mb-4">
                            To run Pytest tests, we can use below command in the terminal.
                        <pre class="fs-5"><code>$pytest</code></pre>
                        </p>
                        <p class="fs-5 mb-4">We can also run a single file by explicitly specifying the filename after
                            the Pytest command:
                        <pre class="fs-5"><code>$pytest test_api.py</code></pre>
                        <br>
                        </p>
                        <h3 class="fw-bolder mb-4 mt-3">Flask application project structure</h3>
                        <figure class="mb-4"><img class="img-fluid rounded"
                                                  src="{{ url_for('static', filename='images/flask_projstrct.png') }}"
                                                  style="width:700px;height:900px" alt="..."/>
                        </figure>

                        <div>
                            <ul class="fs-5 mb-2">
                                <li>Project1 :- Root Folder of the project.</li>
                                <li>.github :- This folder contains gitHub action workflow configuration under workflows
                                    folder
                                </li>
                                <li>.github/workflows/dev.yml :- File to define development action workflow of the app
                                </li>
                                <li>.github/workflows/prod.yml :- File to define production action workflow of the app
                                </li>
                                <li>app/simple_pages/templates :- All 5 html pages including index page are in this
                                    folder.
                                </li>
                                <li>app/simple_pages/__init__.py :- Blueprint code for simple pages.</li>
                                <li>app/static :- Keep your static files like css, js, media here</li>
                                <li>app/templates :- Keep your http templates here.</li>
                                <li>app/__init__.py :– Your project starts here. Blueprints, extensions, commands and
                                    all other fancy stuff will be defined in their own modules. But all those components
                                    will be hooked up together here.
                                </li>
                                <li>app/run.py :– Code to run the application</li>
                                <li>calculator :- application file</li>
                                <li>tests: we define unit tests here</li>
                                <li>docker-compose.yml :- Orchestration file that contains the configuration to develop
                                    locally, it overrides the Dockerfile to run the flask development server instead of
                                    running the gunicorn server that is used for hosting on Heroku.
                                </li>
                                <li>Dockerfile :- File used to create an image to run in a container that runs the
                                    program<
                                </li>
                                <li>heroku.yml :- It allows us to build docker image on heroku app.</li>
                                <li>readme.md :- Information about project.</li>
                                <li>requirements.txt :- Python modules used in project.</li>
                            </ul>


                        </div>

                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Image widget-->
                <div class="card mb-4">

                    <div class="card-body">
                        <figure class="mb-4"><img class="img-fluid rounded"
                                              src="{{ url_for('static', filename='images/git_card.png') }}"
                                              style="width:900px;height:400px" alt="..."/>
                        </figure>
                    </div>
                </div>
                <!-- Url widget-->
                <div class="card mb-4">
                    <div class="card-header fs-6">Useful Links</div>
                    <div class="card-body">
                        <div class="row">

                            <ul class="list-unstyled mb-0 fs-5">
                                <li><a href="https://www.softwaretestinghelp.com/python-flask-tutorial/"
                                       target="_blank">Flask Basics</a></li>
                                <li><a href="https://flask.palletsprojects.com/en/2.0.x/tutorial/" target="_blank">Flask
                                    Documentation</a></li>
                                <li><a href="https://circleci.com/blog/testing-flask-framework-with-pytest/"
                                       target="_blank">Testing Flask with Pytest</a></li>
                                <li>
                                    <a href="https://laymanclass.com/how-to-structure-flask-application-for-larger-projects/"
                                       target="_blank">Flask Project Skelton</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header fs-6">My Flask Project</div>
                    <div class="card-body">
                        <a class="fs-5" href="https://github.com/komal-untwal/is601_proj1" target="_blank">github</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}