{% extends "base.html" %}
{% block content %}
    <div class="container mb-4">
        <div class="row mb-5">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <a href="{{ url_for('simple_pages.show', page="git") }}">
                            <img src="{{ url_for('static', filename='images/git.webp') }}" class="d-block mw-100"
                                 style="width:3600px;height:500px" alt="Click here for Git Manual.">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>GIT</h5>
                                <p>Click here for Git Manual.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <a href="{{ url_for('simple_pages.show', page="docker") }}">
                            <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100"
                                 style="width:3600px;height:500px" alt="Click here for Docker Manual.">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Docker</h5>
                                <p>Click here for Docker Manual.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <a href="{{ url_for('simple_pages.show', page="flask") }}">
                            <img src="{{ url_for('static', filename='images/flask2.jpg') }}" class="d-block w-100"
                                 style="width:3600px;height:500px" alt="Click here for Python Flask Manual.">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Flask</h5>
                                <p>Click here for Python Flask Manual.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="{{ url_for('simple_pages.show', page="cicd") }}">
                            <img src="{{ url_for('static', filename='images/devopscicd.png') }}" class="d-block w-100"
                                 style="width:3600px;height:500px" alt="Click here for CI/Cd Manual.">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>CI/CD</h5>
                                <p>Click here for CI/Cd Manual.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <div class="card" style="height: 20rem;">

                    <div class="card-body">
                        <h5 class="card-title">Git Tutorial</h5>
                        <p class="card-text fs-5">Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
                        <a href="https://www.atlassian.com/git/tutorials" target="_blank" class="btn btn-primary">Click me</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 20rem;">

                    <div class="card-body">
                        <h5 class="card-title">Docker 101</h5>
                        <p class="card-text fs-5">Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers. </p>
                        <a href="https://www.docker.com/101-tutorial" target="_blank" class="btn btn-primary">Click me</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Flask Tutorial</h5>
                        <p class="card-text fs-5">Flask is a micro web framework written in Python. It has no database abstraction layer, or any other components where pre-existing third-party libraries provide common functions.</p>
                        <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="height: 20rem;">

                    <div class="card-body">
                        <h5 class="card-title">CI/CD Tutorial</h5>
                        <p class="card-text fs-5">CI/CD bridges the gaps between development and operation activities and teams by enforcing automation in building, testing and deployment of applications.</p>
                        <a href="https://docs.gitlab.com/ee/ci/introduction/" target="_blank" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}