<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div class="container-fluid">
<div class="row">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi mb-2" width="40" height="32">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <h3 style="font-family:Impact;font-size: 42px; font-style: normal;">My Tech Manual</h3>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item fs-3"><a class="nav-link" aria-current="page" href="{{ url_for('simple_pages.show', page="index")}}">Home</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="git")}}">Git</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="docker")}}">Docker</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="flask")}}">Flask</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="cicd")}}">CI/CD</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="oop_glossary")}}">OOP</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="oops")}}">OOP Principles</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="solid")}}">SOLID</a></li>
                <li class="nav-item fs-3"><a class="nav-link" href="{{ url_for('simple_pages.show', page="aaa_test")}}">AAA Testing</a></li>
            </ul>
        </header>
    </div>

    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">My Tech Manual &copy; 2022</p></div>
    </footer>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>